when HTTP_REQUEST {
  HTTP::header replace "WL-Proxy-Client-IP" [IP::client_addr]
  HTTP::header replace "X-forwarded-for" [IP::client_addr]
  HTTP::header replace "WL-Proxy-SSL" "true"

{{ psoft_security_sub_irule }}
  } elseif { [HTTP::uri] equals "/" } {
     HTTP::redirect "/psp/fs{{ filter_env }}/?cmd=login&languageCd=ENG"
{% if filter_env in ['upg','dev','tst','qat','prd','per'] %}
  } elseif { ([HTTP::uri] contains "/PSIGW/") } {
     pool fs{{ filter_env }}ib
{% endif %}
{% if filter_env in ['prd','cls'] %}
  } elseif { ([HTTP::uri] starts_with "/psren") } {
     pool fs{{ filter_env }}ren
{% endif %}
  } else
  {
     pool fs{{ filter_env }}
  }
}
